
<div class="fondoCharts pt-5 pb-5">

 <h2 class="text-center pt-5 pb-5 text-white"><i class="fa-solid fa-chart-pie"></i> Datos del consumo de vino en Argentina</h2>
  <div class="container charts-container">
 
 



  



    <br><br><br>










    <div id="historicalChart"></div>
    <div id="forecastChart"></div>


   
</div>

  <div class="container"> 
    
    <br><br>
    <!--<p class="text-center text-white"> Litros de consumo per cápita</p>-->
    <div id="consumoPerCapitaPorAnio"></div>
    <br><br>
    <div id="consumoPerCapitaPorProvincia"></div>

  </div>








</div>

