<div class="container-fluid  text-black py-5 mb-5" id="discover">
    <br><br>  <br><br>  
    <!-- <div class="container text-center">-->
        <div class=" text-center">
    
   
      <!-- Historia -->
      <div class="row justify-content-center mb-5">
        <div class="col-md-8">
          <p class="lead">
            <b>Variedades de Uvas:</b> Las variedades de uva utilizadas para hacer vino son innumerables. Algunas de las más conocidas son
            la Cabernet Sauvignon, Merlot, Chardonnay y Sauvignon Blanc. Cada tipo de uva aporta sabores y aromas distintos, influenciados 
            por factores como el clima, el suelo y las técnicas de vinificación.
          </p>
          <p class="lead">
            <b>Regiones Vinícolas:</b> Las principales regiones vinícolas del mundo incluyen Francia, Italia, España, Estados Unidos, Argentina y
            Chile. Cada región tiene sus propias características climáticas y geográficas que afectan el cultivo de la uva y, por ende, el sabor
            del vino. Por ejemplo, los vinos de Bordeaux son famosos por sus tintos complejos, mientras que los de la región de Champagne son 
            reconocidos por sus espumosos de alta calidad.
          </p>
          <p class="lead">
            <b>Maridaje con Comidas:</b> El vino es conocido por realzar la experiencia gastronómica. El maridaje adecuado entre vino y
            comida puede transformar una comida ordinaria en una experiencia memorable. Por ejemplo, un Cabernet Sauvignon combina bien 
            con carnes rojas, mientras que un Sauvignon Blanc es ideal para pescados y mariscos.
          </p>
          <p class="lead">
            <b>Beneficios del Vino:</b> Consumido con moderación, el vino, especialmente el tinto, ha sido asociado con varios beneficios 
            para la salud, como la mejora de la salud cardiovascular y la reducción del riesgo de enfermedades crónicas. Sin embargo, es
            importante recordar que el consumo excesivo puede tener efectos negativos en la salud.
          </p><br><br>
          <p class="lead"><b>Explorar el mundo del vino puede ser una aventura apasionante. Desde la selección de la uva hasta el proceso de
            vinificación, cada botella cuenta una historia única. No dudes en experimentar y descubrir tus vinos favoritos, ¡y siempre
            recuerda disfrutar de manera responsable!</p></b> 
           
      </div>
    </div>
    <br><br>  <br><br>
  </div>
 </div>