<div class="container-fluid  text-black py-5 mb-5" id="discover">
    <br><br>  <br><br>  
    <!-- <div class="container text-center">-->
        <div class=" text-center">
      <h1 class="mb-5"><i class="fa-solid fa-earth-americas"></i> Descubra el mundo del vino</h1>
  <br><br>    
      <!-- Historia -->
      <div class="row justify-content-center mb-5">
        <div class="col-md-8">
       
          <p class="lead">
            El vino es una de las bebidas más antiguas y apreciadas de la humanidad, con una historia que se remonta a miles de años. 
            Se elabora a partir de la fermentación de uvas y ha evolucionado en diversas regiones del mundo, cada una aportando su carácter
            único a los vinos que produce. Existen diferentes tipos de vino, como el tinto, blanco, rosado y espumoso, cada uno con su 
            propio perfil de sabor y aroma.
          </p>
          <p class="lead">
            El vino no solo es una bebida; es una expresión cultural y social que ha formado parte de celebraciones y rituales a lo largo 
            de la historia. Su elaboración es un arte que combina ciencia y tradición, y cada botella cuenta una historia que va más allá
            de su contenido.
          </p>
          <br>
          <p class="lead">
            <b>Proceso de Elaboración:</b> La vinificación es un proceso complejo que comienza con la cosecha de las uvas, que se realiza
            en el momento óptimo de madurez. Después de la cosecha, las uvas se trituran para extraer el jugo, que luego se fermenta.
            La fermentación puede ser llevada a cabo de manera natural, utilizando levaduras presentes en la piel de la uva, o mediante la
            adición de levaduras seleccionadas. El proceso puede variar considerablemente entre los diferentes tipos de vino, lo que resulta
            en una amplia gama de sabores y texturas.
          </p>
          <p class="lead">
            <b>Importancia del Terroir:</b> El concepto de "terroir" es fundamental en el mundo del vino, refiriéndose a la combinación de 
            factores ambientales que influyen en el cultivo de las uvas. Esto incluye el clima, el tipo de suelo, la altitud y la orientación
            del viñedo. Cada terroir aporta características únicas al vino, haciendo que dos vinos de la misma variedad de uva, pero de 
            diferentes regiones, puedan ser notablemente distintos.
          </p>
          <p class="lead">
            <b>Vinos Naturales y Orgánicos:</b> En años recientes, ha crecido el interés por los vinos naturales y orgánicos, que se producen 
            con métodos sostenibles y sin el uso de productos químicos. Estos vinos a menudo tienen un perfil de sabor más auténtico y reflejan
            más fielmente las características del terroir. La producción de vino orgánico también busca minimizar el impacto ambiental, promoviendo
            prácticas agrícolas responsables.
          </p>
          <p class="lead">
            <b>Cultura del Vino:</b> El vino también ha influido en la literatura, la música y el arte. Desde las celebraciones en la 
            antigua Grecia y Roma hasta la modernidad, el vino ha sido un símbolo de unión y celebración. Las catas de vino se han vuelto 
            populares, donde los aficionados aprenden a identificar diferentes aromas y sabores, desarrollando así un aprecio más profundo 
            por la bebida.
          </p>
          <p class="lead">
            <b>Tendencias Actuales:</b> El mundo del vino está en constante evolución. Las nuevas tendencias incluyen la producción de vinos 
            con bajo contenido de alcohol, así como el uso de tecnología en la viticultura, como drones para monitorear los viñedos y 
            aplicaciones para gestionar el proceso de vinificación. Además, la creciente globalización ha facilitado la exploración de vinos 
            de regiones menos conocidas, lo que permite a los consumidores descubrir una variedad aún mayor de sabores y estilos.
          </p>
      </div>
    </div>
    <br><br>  
  </div>
 </div>