  <!-- nav -->
  {% include 'nav.html' %} <!-- Incluir navbar-->
  <!-- nav -->
       
<!--<header class="header" id="home">  <!-- Sección de encabezado. -->


   <!-- <div class="container z-index-container"> --> <!-- Contenedor para el contenido del encabezado. -->
       <!-- <h1 class="typewriter" id="titulo"></h1>-->
        <!--<br>-->
       <!-- <p class="typewriter" id="texto"></p>-->
       <!-- <br>-->
       <!-- <h1 class="display-4 maquinaEscribir">Bienvenido a LaVinoteca</h1>  Título principal de la landing page. -->
       <!-- <p class="lead maquinaEscribir">Explore la mejor selección de vinos y cepas.</p>  Descripción breve del sitio. -->
     <!--   <a href="#" class="btn btn-dark btn-lg">Comienza Ahora</a>  <!-- Botón de llamada a la acción. -->
    <!--</div>-->

<!--</header>-->





<header class="header" id="home">  <!-- Sección de encabezado. -->
  <div id="particles-js"></div> <!-- Contenedor para el fondo de partículas -->

  <div class="header-content">  <!-- Nuevo contenedor para el contenido del encabezado. -->
      <h1 class="typewriter" id="titulo"></h1>
      <br>
      <p class="typewriter" id="texto"></p>
      <br>
      <a href="#" class="btn btn-dark btn-lg">Comienza Ahora</a>  <!-- Botón de llamada a la acción. -->
  </div>
</header>
