  <!-- nav -->
  {% include 'nav.html' %} <!-- Incluir navbar-->
  <!-- nav -->
<header class="header" id="home">  <!-- Sección de encabezado. -->
  <div id="particles-js"></div> <!-- Contenedor para el fondo de partículas -->
  <div class="header-content">  <!-- Nuevo contenedor para el contenido del encabezado. -->
      <h1 class="typewriter" id="titulo"></h1>
      <br>
      <p class="typewriter" id="texto"></p>
      <br>
      <a href="#discover" class="btn btn-dark btn-lg">Comience Ahora</a>  <!-- Botón de llamada a la acción. -->
  </div>
</header>