 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark  sticky-top" id="navbar">  <!-- Define la barra de navegación con estilo oscuro. -->
    <div class="container">  <!-- Contenedor para el contenido de la navbar. -->
        <a class="navbar-brand" href="#">  <!-- Enlace para el logotipo de la vinoteca. -->
            <img src="../static/img/logo.png"  alt="Logo"><!-- Imagen del logotipo y nombre de la vinoteca. -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  <!-- Botón para la navegación en dispositivos móviles. -->
            <span class="navbar-toggler-icon"></span>  <!-- Icono del botón que indica que es colapsable. -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">  <!-- Contenedor que se colapsa en dispositivos móviles. -->
            <ul class="navbar-nav ms-auto">  <!-- Lista de navegación alineada a la derecha. -->
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link active ubuntu-light" aria-current="page" href="#home"><i class="fas fa-home"></i> Inicio</a>  <!-- Enlace a la página de inicio. -->
                </li>
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="#we"> <i class="fas fa-user-friends"></i> Nosotros</a>  <!-- Enlace a las características. -->
                </li>
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="#products"> <i class="fas fa-wine-glass-alt"></i> Productos</a>  <!-- Enlace a las características. -->
                </li>
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="#wineries"> <i class="fas fa-archway"></i> Bodegas</a>  <!-- Enlace a las características. -->
                </li>
               
               
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="#contact"><i class="far fa-envelope"></i> Contáctanos</a>  <!-- Enlace a la sección de contacto. -->
                </li>
               
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>  <!-- Enlace a las características. -->
                </li>
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>  <!-- Enlace a las características. -->
                </li>
                <li class="nav-item">  <!-- Item de navegación. -->
                    <a class="nav-link ubuntu-light" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>  <!-- Enlace a las características. -->
                </li>
                <li class="nav-item margin-left-6">  <!-- Item de navegación. -->
                     <div class="audio-player">  
                        <audio class="audio-player" controls id="audio1">
                            <source src="https://stream.friskyradio.com/frisky_mp3_high" type="audio/mpeg">
                            <!--<source src="https://ibizaglobalradio.streaming-pro.com/" type="audio/mpeg">-->
                            Tu navegador no soporta la reproducción de audio.
                        </audio>
                    </div>    
               </li>
               <li class="nav-item">  <!-- Item de navegación. -->
                <a class="nav-link ubuntu-light" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>  <!-- Enlace a las características. -->
               </li>
               <li class="nav-item">  <!-- Item de navegación. -->
                <a class="nav-link ubuntu-light" href="#"><i class="fas fa-user-lock"></i></a>  <!-- Enlace a las características. -->
               </li>
            </ul>
            
        </div>
    </div>
</nav>