<!--<div class="container pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="bg-white p-4 rounded shadow">
                <h2 class="text-black text-center">¡Suscríbete a nuestras novedades!</h2>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Introduce tu correo electrónico:</label>
                        <input type="email" class="form-control" id="email" placeholder="ejemplo@dominio.com" required>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Suscribirme</button>
                </form>
            </div>
        </div>
    </div>
</div>-->










<!--<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="bg-white p-3 rounded shadow">
                <h4 class="text-black text-center mb-3">¡Mantente informado!</h4>
                <p class="text-center">Suscríbete para recibir novedades.</p>
                <form>
                    <div class="mb-2">
                        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Suscribirme</button>
                </form>
            </div>
        </div>
    </div>
</div>-->








<div class="container pt-5 pb-5" id="ma" style="background-color: white; height: 270px; overflow: hidden;">
    <!-- Aquí cae la lluvia estilo Matrix -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="bg-white p-3 rounded shadow">
                <div class="rain" id="rain-container">
                    <h2 class="text-black text-center mb-3">¡Suscríbete a nuestras novedades!</h2>
                </div>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" id="email" placeholder="Correo electrónico" required>
                    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-envelopes-bulk"></i> Suscribirme</button>
                </form>
            </div>
        </div>
    </div>
</div>