<div class="container pt-5 pb-5" id="ma" style="background-color: white; height: 270px; overflow: hidden;">
    <!-- Aquí cae la lluvia  -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="bg-white p-3 rounded shadow">
                <div class="rain" id="rain-container">
                    <h2 class="text-black text-center mb-3">¡Suscríbete a nuestras novedades!</h2>
                </div>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" id="email" placeholder="Correo electrónico" required>
                    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-envelopes-bulk"></i> Suscribirme</button>
                </form>
            </div>
        </div>
    </div>
</div>