<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide"><img src="https://as1.ftcdn.net/v2/jpg/02/39/75/14/1000_F_239751461_ovFmOzjm1WhPDuGUWcbpTfsioASBOUG3.jpg" alt="Imagen 1"></li>
            <li class="glide__slide"><img src="https://as2.ftcdn.net/v2/jpg/02/20/89/29/1000_F_220892973_6I2RJJ4nkWSwnPHqqiWYmZUwYq1U7o54.jpg" alt="Imagen 2"></li>
            <li class="glide__slide"><img src="https://as2.ftcdn.net/v2/jpg/03/65/54/49/1000_F_365544947_52cjCSxCGy30FGFZn5bLWoxssSwqLfQG.jpg" alt="Imagen 3"></li>
            <li class="glide__slide"><img src="https://as1.ftcdn.net/v2/jpg/00/73/31/52/1000_F_73315210_M8WlvL5GahqCw6UrAZOiYlwCahmJgPct.jpg" alt="Imagen 4"></li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
</div>





